.git
.gitignore
.DS_Store
.env
.env.*
.pytest_cache
.turbo
**/__pycache__
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.swp
**/node_modules
**/dist
**/.next
venv
apps/backend/data
apps/backend/.pytest_cache
apps/frontend/.env
apps/frontend/.env.*
